force-app/main/default/flows/Create_Error_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Exception_Email</name>
        <label>Send Exception Email</label>
        <locationX>415</locationX>
        <locationY>166</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Exception_Error_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Exception_To_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Log Failure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Successful_Error_Log_Creation_Email</name>
        <label>Successful Error Log Creation Email</label>
        <locationX>465</locationX>
        <locationY>318</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Successful_Error_Log_Creation_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Exception_To_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Log Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>Exception_Error_Message</name>
        <dataType>String</dataType>
        <expression>&apos;Failed to create error log.&apos;+
&apos; Original Error Message: &apos;+{!$Record.Description__c}</expression>
    </formulas>
    <formulas>
        <name>Successful_Error_Log_Creation_Message</name>
        <dataType>String</dataType>
        <expression>&apos;Error Log created successfully.&apos;+
&apos; Error Occurred in &apos;+{!$Record.Component_Name__c}+
&apos;, Error Message: &apos;+{!$Record.Description__c}+
&apos;. Please go to the Error Log Tab to view Successfully Created Error Log Record (&apos;+{!Get_Error_Log_Rec.Name}+&apos;).&apos;</expression>
    </formulas>
    <interviewLabel>Create Error Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Error Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>176</locationX>
        <locationY>244</locationY>
        <assignRecordIdToReference>Newly_Created_Error_Log_Record.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Error_Log_Rec</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Exception_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <elementReference>$Record.Component_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <elementReference>$Record.Component_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JSON_Response__c</field>
            <value>
                <elementReference>$Record.JSON_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <elementReference>$Record.Method_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>$Record.Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Error_Log_Rec</name>
        <label>Get Error Log Rec</label>
        <locationX>286</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful_Error_Log_Creation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Newly_Created_Error_Log_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
        <object>Log_Error__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Newly_Created_Error_Log_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
</Flow>
