force-app/main/default/flows/Publish_Error_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>To publish Log Error platform event records</description>
    <formulas>
        <name>Exception_Error_Message</name>
        <dataType>String</dataType>
        <expression>&apos;Failed to publish platform event to create error log.&apos;+
&apos; Original Error Message: &apos;+{!Description}</expression>
    </formulas>
    <interviewLabel>Publish Error Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Error Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Platform_Events</name>
        <label>Publish Platform Events</label>
        <locationX>177</locationX>
        <locationY>223</locationY>
        <!-- <faultConnector>
            <targetReference>Send_Exception_Email</targetReference>
        </faultConnector> -->
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <elementReference>Component_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <elementReference>Component_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JSON_Response__c</field>
            <value>
                <elementReference>JSON_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <elementReference>Method_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <elementReference>Object</elementReference>
            </value>
        </inputAssignments>
        <object>Log_Error__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Publish_Platform_Events</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <!-- <subflows>
        <name>Send_Exception_Email</name>
        <label>Send Exception Email</label>
        <locationX>396</locationX>
        <locationY>224</locationY>
        <flowName>Send_Exception_Email</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>Exception_Error_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <stringValue>Log Error Failure</stringValue>
            </value>
        </inputAssignments>
    </subflows> -->
    <variables>
        <name>Component_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Component_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSON_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Method_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
